DATABASE_URL=postgresql://<user>@localhost:5432/<db_name>

JWT_SECRET=<your_jwt_secret>

RESEND_API_KEY=<your_resend_api_key>
EMAIL_FROM=<your_email_sender>

APP_BASE_URL=http://localhost:3000

SPACES_BUCKET=<your_bucket_name>
SPACES_REGION=<your_region>
SPACES_ENDPOINT=<your_spaces_endpoint>

SPACES_KEY=<your_spaces_access_key>
SPACES_SECRET=<your_spaces_secret_key>

SPACES_PUBLIC_BASE_URL=<your_public_url>